body, html {height:100%;}

.sidebar {width:220px; min-height:100vh;}
.nav-link:hover {background-color: rgba(255,255,255,0.1); border-radius:4px;}
.low-stock {color:red; font-weight:bold;}
.table img {border-radius:4px;}

/* Cards dashboard */
.card {border-radius:8px;}
.card h4,h5,h6 {margin:0;}
.card ul {padding-left:1rem;}
.card p {margin:0;}

/* Modal animación */
.modal.fade .modal-dialog {
    transform: translateY(-50px);
    transition: transform 0.3s ease-out;
}
.modal.show .modal-dialog {
    transform: translateY(0);
}
